dist/main.js

node_modules/

src/blazon/data/charges.json
src/blazon/data/partitions.json
src/blazon/data/patterns.json

src/gui/data/charges.json
src/gui/data/partitions.json
src/gui/data/escutcheons.json

src/visual/data/charges.json
src/visual/data/partitions.json
src/visual/data/escutcheons.json
src/visual/data/patterns.json

